body, html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(241, 241, 241);
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(37, 71, 38);

    @include media(phone){
        font-size: 2.5rem;
    }
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-style: italic;

    @include media(phone){
        font-size: 1.75rem;
        color: rgb(194, 194, 194);
    }
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;

    @include media(phone){
        font-size: 1rem;
    }
}

h4 {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 0.75rem;
    color: rgb(37, 71, 38);

    @include media(phone){
        font-size: 0.85rem;
    }
}

h5 {
    font-size: 0.75rem;
    opacity: 0.5;
}

p {
    font-size: 1rem;
    line-height: 1.75rem;
    color: rgb(100, 100, 100);

    @include media(phone){
        font-size: 0.90rem;
        line-height: 1.5rem;
    }
}