.main {
    &-about {
        padding: 12.5vh 7.5% 0;
        height: 100vh;
        display: flex;

        @include media(phone) {
            height: 100vh;
            padding: 0;
        }

        &-text{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 7.5%;
            width: 50%;
            height: 100%;
            text-align: right;

            @include media(tablet) {
                padding: 5%;
            }

            @include media(phone) {
                background-color: rgba(204, 204, 204, 0.65);
                padding: 12.5%;
                width: 100%;
                justify-content: center;
                text-align: center;
                top: 0;
                z-index: 50;
                position: absolute;
            }

            p {
                padding-left: 20%;

                @include media(tablet) {
                    padding-left: 0;
                }

                @include media(phone) {
                    padding-left: 0;
                    color: rgb(0, 0, 0);
                }
            }
        }

        &-img {
            width: 50%;
            height: 100%;
            background-image: url(../images/Lucas.jpg);
            background-size: cover;
            background-position: center;
            background-color: rgb(134, 134, 134); /* Sécurité si l'image ne se charge pas */

            @include media(phone) {
                position: relative;
                height: 100vh;
                width: 100%;
                text-align: center;
                top: 0;
            }
        }
    }
}