header {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 12.5vh 0;
    width: 7.5vw;
    height: 87.5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 99;

    @include media(tablet) {
        height: 92.5vh;
        padding: 7.5vh 0;
    }

    @include media(phone) {
        flex-direction: row;
        justify-content: center;
        height: 7.5vh;
        width: 75vw;
        margin-right: 12.5vw;
        padding: 0;
        bottom: 0;
    }

    a {
        height: 5vh;
        width: 5vh;
        margin: 2vh 0 0;
        border-radius: 50%;
        background-color: rgba(160, 160, 160, 0.75);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.75s;

        @include media(tablet) {
            height: 3vh;
            width: 3vh;
        }

        @include media(phone) {
            margin: 0 5vw;
            height: 4vh;
            width: 4vh;
        }

        &:hover {
            background-color : rgb(37, 71, 38);
            transform: scale(1.1);
            img {
                opacity: 1;
            }
        }
    }

    img {
        width: 40%;
        height: auto;
        opacity: 0.75;
    }
}