.nav {
    height: 12.5vh;
    width: 100vw;
    position: fixed;
    right: 0;
    display: flex;
    justify-content: space-between;

    @include media(tablet) {
        height: 7.5vh;
    }

    @include media(phone) {
        height: 7.5vh;
        z-index: 99;
        bottom: 0;

        background-color: rgba(29, 29, 29, 0.95);
    }

    &-annonce {
        display: flex;
        justify-content: center;
        align-items: center;

        &-containerLink {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 7.5vw;
            height: 12.5vh;

            @include media(phone) {
                width: 12.5vw;
                height: 7.5vh;
            }

            a {
                height: 5vh;
                width: 5vh;
                border-radius: 50%;
                background-color: rgba(160, 160, 160, 0.75);
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.5s;

                @include media(tablet) {
                    height: 3vh;
                    width: 3vh;
                }

                @include media(phone) {
                    height: 4vh;
                    width: 4vh;
                }

                &:hover {
                    background-color : rgb(214, 193, 0);
                    transform: scale(1.1);
                    img {
                        opacity: 1;
                    }
                }
            }

            img {
                width: 60%;
                height: auto;
            }
        }

        &-message{
            line-height: 1.2rem;
            font-size: 1rem;
            color: rgb(100, 100, 100);
        
            @include media(phone){
                display: none;
            }
        }
    }

    &-menu {
        width: 7.5vw;
        height: 12.5vh;        
        display: flex;
        justify-content: center;
        align-items: center;

        @include media(tablet) {
            height: 7.5vh;
        }

        @include media(phone) {
            width: 12.5vw;
            height: 7.5vh;
        }

        &-containerBurger {
            height: 5vh;
            width: 3vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            cursor: pointer;
            transition: 1s;

            @include media(tablet) {
                height: 3vh;
            }

            @include media(phone) {
                height: 4vh;
            }
            &:hover {
                transform: rotate(450deg);
            }

            & > div {
                transition: 0.5s;
                height: 6px;
                width: 6px;
                background-color: rgb(160, 160, 160);
                border-radius: 50%;

                @include media(phone) {
                    height: 5px;
                    width: 5px;
                }
            }

            &:hover > div{
                background-color: rgb(37, 71, 38);
            }
        }
    }
}